{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "key-spacing": 0,
    "jsx-quotes": [
      2,
      "prefer-single"
    ],
    "max-len": [
      0,
      120,
      2
    ],
    "object-curly-spacing": [
      2,
      "always"
    ],
    "no-unused-expressions": 0,
    "no-debugger": 0,
    "prefer-arrow-callback": 2,
    "react/display-name": 0
  }
}